# Application
DEBUG=true
ENVIRONMENT=development

# Database
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/photobooth

# Security
SECRET_KEY=your-super-secret-key-change-in-production-min-32-characters-long

# iPaymu (Sandbox)
IPAYMU_VA=0000005155258811
IPAYMU_KEY=SANDBOX4DDE84C3-7D3A-4572-8178-33DF5B494131
IPAYMU_URL=https://sandbox.ipaymu.com
IPAYMU_NOTIFY_URL=http://localhost:8000/api/payment/notify / https://860d-2404-8000-100c-385-99a8-78ad-1c67-f998.ngrok-free.app >> chosose one of them

# CORS
CORS_ORIGINS=http://localhost:5173,http://localhost:3000
